body
{
    display: grid;

      background-color: black;
      grid-template-rows: 80px 0fr 70px;  
      grid-template-columns: 100px 1fr 100px;
      grid-row-gap: 0px;
      grid-column-gap: 10px;
      height: 100vh;
      margin: 0;
    
      /*CSS grid template*/
        grid-auto-flow: row;
        grid-template-areas:
          "header header header"
          "menu menu menu"
          "main main main";
      }
      
/*-------------------------------------------------------------------------------------------------------------------------------------------------*/

      /*setting the deafult style for the header and the main text body*/
      header, main {
        padding: 1.2em;
        background: rgb(0, 0, 0);
        font-family: "helvetica";
        color:rgb(255, 255, 255);
        font-size: 12pt;
        width: 100%;
        position: center;
      }

        /*setting the deafult style for the header and the main menu*/
        menu{
          padding: 1.2em;
          background:rgb(0, 0, 0);
          font-family: "helvetica";
          color: rgb(255, 255, 255);
          font-size: 12px;
          width: 100%;
        }

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Drop down menu */

    .navbar {
      overflow: hidden;
      background-color: #000000;
    }

    .navbar a {
      float: center;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown .dropbtn {
      font-size: 16px;  
      border: none;
      outline: none;
      color: rgb(255, 255, 255);
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }

    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: rgb(83, 83, 83);
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: rgb(83, 83, 83);
      min-width: 100%;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0);
      z-index: 1;

    }

    .dropdown-content a {
      float: none;
      color: rgb(255, 255, 255);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    .dropdown-content a:hover {
      background-color: #adadad;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

/*------------------------------------------------------------------------------------------------------------------------------------------------*/

    /*setting the default text colour, font and size for h1, h2, a, and p text styles */
    h1 {
      text-align: center;
      font-family: "helvetica";
      color: white;
    }

    h2{
      font-family: "helvetica";
      color:rgb(255, 255, 255);
    }

    a {
      font-family: "helvetica";
      color:rgb(255, 255, 255);
      font-size: 12pt;
    }
    
    p {
      font-family: "helvetica";
      color:rgb(255, 255, 255);
      font-size: 12pt;
    }

    b {
      font-family: "helvetica";
      color:rgb(255, 255, 255);
      font-size: 12pt;
      letter-spacing: -0.5px;
      text-align: center;
    }

/*--------------------------------------------------------------------------------------------------------------------------------------------*/

    /*image overlay function */
    div {
      position: relative;
      display: inline;
    }

    /* Image presets */
    .banner{
      max-width: 500%;
      max-height: 500%;
      width: auto;
      height: auto;
      object-position: right;
      z-index: -1;
    }

    .product {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      }

     a :hover{
      opacity: 0.3;
    }

    * {
      box-sizing: border-box;
    }
    
    
    .row {
      display: flex;
      }
    
    .column {
      flex: 25%;
      padding: 1%;
    }
    
    /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 500px) {
      .column {
        display: inline;
        width: 100%;
        float: left;
      }
    }

    .stunt{
      max-width: 92%;
      max-height: 92%;
      width: auto;
      height: auto;
      margin-left: 1%;
    }

    .photoshoot{
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      margin-bottom: 4%;
      }

/*------------------------------------------------------------------------------------------------------------------------------------------*/

    /*setting the default areas of the grid */
    #pageHeader {
        grid-area: header;
        text-align: center;
    }
    #mainMenu {
        grid-area: menu;
        text-align: center;
    }
    #textMain {
        grid-area: main;
        background-color: black;
        position: center;
        object-position: center;
        text-align: right;
        }
    
/*-----------------------------------------------------------------------------------------------------------------------------------------*/

      /*setting the max sizes for all css grid areas*/
      @media all and (max-width: 575px) {
        body 
        { 
          grid-template-areas: 
            "header"
            "menu"
            "main";
          grid-template-rows: 80px 1fr 70px 1fr 70px;  
          grid-template-columns: 1fr;
       }
}